:root { font: $font-base; }

h1 { @extend .nio-heading, .nio-heading--primary; }
h2 { @extend .nio-heading, .nio-heading--secondary; }
h3 { @extend .nio-heading, .nio-heading--tertiary; }
h4 { @extend .nio-heading, .nio-heading--quaternary; }
h5 { @extend .nio-heading, .nio-heading--quinary; }
h6 { @extend .nio-heading, .nio-heading--senary; }

em { @extend .nio-emphasis; }

:link, :visited {
	text-decoration: none;
  color: $color-nio;

	&:hover, &:active, &:focus {
		text-decoration: none;
		outline: 0;
	}
}

table { @extend .nio-table; }
