.nio-emphasis { font-style: italic; }
.nio-link {
  text-decoration: none;
  color: $color-link;
  &:hover, &:active, &:focus {
    text-decoration: none;
    outline: 0;
  }
}

.nio-sscript {
  font-size: 58.3%;
  &--super { vertical-align: super; }
  &--sub   { vertical-align: sub; }
}

// Applications

:root { font: $font-sans; }

h1 { @extend .nio-heading, .nio-heading--primary; }
h2 { @extend .nio-heading, .nio-heading--secondary; }
h3 { @extend .nio-heading, .nio-heading--tertiary; }
h4 { @extend .nio-heading, .nio-heading--quaternary; }
h5 { @extend .nio-heading, .nio-heading--quinary; }
h6 { @extend .nio-heading, .nio-heading--senary; }
em { @extend .nio-emphasis; }

:link, :visited { @extend .nio-link; }
table { @extend .nio-table; }
q { @extend .nio-quote, .nio-quote--inline; }
blockquote { @extend .nio-quote, .nio-quote--blockquote; }

// subscripts / superscripts
sup { @extend .nio-sscript, .nio-sscript--super; }
sub { @extend .nio-sscript, .nio-sscript--sub; }

code { @extend .nio-code; }
pre  { @extend .nio-code-block; }
pre code { @extend .nio-code--in-block; }

