@mixin nio-button-colors($color) {
  color: $color;
  background-image:
    linear-gradient(65deg,
      rgba($color, 0.075) 0%,
      transparent 10%,
      transparent 90%,
      rgba($color, 0.075) 100%)
}

.nio-button {
  @extend .nio-bordered;
  box-sizing: border-box;
  background-color: transparent;
  border-color: currentcolor;
  font: $font-sans;
  font-weight: 600;
  @include nio-button-colors($color-default);
  padding: $dist-large $dist-large;
  min-width: 20ch;

  transition: box-shadow 300ms, transform 66ms;

  &:hover, &:focus {
    outline: 0;
    box-shadow: 0 0 $dist-normal currentcolor;
    transform: scale(1.01);
  }

  &:active {
    transform: translatey($dist-hair);
  }

  &--primary { @include nio-button-colors($color-primary); }
  &--warning { @include nio-button-colors($color-warning); }
  &--info    { @include nio-button-colors($color-info); }
  &--danger  { @include nio-button-colors($color-danger); }

//  &--primary::before { content: '\f00c'; font-family: fontawesome; margin-right: 1ch; vertical-align: middle; }
//  &--warning::before { content: '\f12a'; font-family: fontawesome; margin-right: 1ch; vertical-align: middle; }
//  &--info::before { content: '\f129'; font-family: fontawesome; margin-right: 1ch; vertical-align: middle; }
//  &--danger::before { content: '\f00d'; font-family: fontawesome; margin-right: 1ch; vertical-align: middle; }
}

.nio-button-bar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  .nio-button {
    margin: $dist-x-small / 2;
  }

  &--grow {
    .nio-button { flex-grow: 1; }
  }
}
