.nio-bordered {
  border-width: $dist-thin;
  border-style: solid;
  border-radius: $dist-small;
}

.nio-form {

  // rows
  &__row {
    display: flex;
    > *:not(:first-child) {
      margin-left: $dist-small;
    }
    > *:not(:last-child) {
      margin-right: $dist-small;
    }
  }

  &__label {
    display: block;
    font-weight: 600;
    font-size: $font-size-small;
    margin-bottom: $dist-small;
  }

  &__control {
    margin-top: $dist-small;
    margin-bottom: $dist-small;
  }

  // Text fields
  &__text-field {
    @extend .nio-form__control, .nio-bordered;

    box-sizing: border-box;
    font: $font-base;
    padding: $dist-large $dist-large;

    width: 100%;
    background-color: $color-light;
    border-color: transparent;

    &::placeholder {
      font-weight: 200;
      color: darken($color-light, 10);
    }
    &:focus {
      outline: 0;
      border-color: darken($color-light, 10);
    }
  }

  &__button {
    @extend .nio-button, .nio-form__control;
  }

}
