
.nio-form {

  // rows
  &__row {
    display: flex;
    > *:not(:first-child) {
      margin-left: $dist-small;
    }
    > *:not(:last-child) {
      margin-right: $dist-small;
    }
  }

  &__label {
    display: block;
    font-weight: 600;
    font-size: $font-size-small;
    margin-bottom: $dist-small;
  }

  &__control {
    box-sizing: border-box;
    font: $font-base;
    padding: $dist-large $dist-large;
    border-radius: $dist-small;
    border: $dist-thin solid transparent;
    margin-top: $dist-small;
    margin-bottom: $dist-small;

  }

  // Text fields
  &__text-field {
    @extend .nio-form__control;

    width: 100%;
    background-color: $color-light;

    &::placeholder {
      font-weight: 200;
      color: darken($color-light, 10);
    }
    &:focus {
      outline: 0;
      border-color: darken($color-light, 10);
    }
  }

  &__button {
    @extend .nio-form__control;
    background-color: transparent;
    border-color: currentcolor;
    font: $font-base;
    font-weight: 600;
    color: $color-red;
    padding: $dist-large $dist-large;
    min-width: 20ch;

    transition: box-shadow 300ms, transform 66ms;

    &:hover, &:focus {
      outline: 0;
      box-shadow: 0 0 $dist-small currentcolor;
      transform: scale(1.01);
    }

    &:active {
      transform: translatey($dist-thin);
    }
  }

}
