$nio-heading--margin-top-mul: 2 !default;
$nio-heading--margin-bottom-mul: 1 !default;
$nio-heading--letter-spacing-mul: -1/24 !default;

@mixin nio-heading-size($size: 1rem) {
  font-size: $size;
  $lh: ceil($size / $font-line-height) * $font-line-height;
  line-height: $lh;
  letter-spacing: $size * $nio-heading--letter-spacing-mul;
  margin: {
    top: $nio-heading--margin-top-mul * $lh;
    bottom: $nio-heading--margin-bottom-mul * $lh;
  }
}

.nio-heading {
  @include nio-heading-size($font-size-medium);
  font: $font-heading;
  text-transform: lowercase;
  &:link, &:visited {
    color: inherit;
    text-decoration: none;
  }
}

.nio-heading--primary    { @include nio-heading-size($font-size-huge); }
.nio-heading--secondary  { @include nio-heading-size($font-size-xx-large); }
.nio-heading--tertiary   { @include nio-heading-size($font-size-x-large); }
.nio-heading--quaternary { @include nio-heading-size($font-size-large); }
.nio-heading--quinary    { @include nio-heading-size($font-size-medium); }
.nio-heading--senary     { @include nio-heading-size($font-size-small); }

.nio-heading--centered { text-align: center; }

.nio-heading--inverted {
  color: $color-white;
  text-shadow: 0 $dist-hair $dist-small rgba(black, 0.75), -$dist-hair $dist-thin rgba(black, 0.50);
  &:link, &:visited { color: $color-white; }
}
