// CSS Prefix
$prefix: 'n-' !default;

// Colors
$palette-primary: #3CAFDA !default;
$palette-alternate: #22537A !default;

$palette-affirmative: #37C0C9 !default;
$palette-warning: #F3BC27 !default;
$palette-danger: #DD3B4C !default;

$palette-white: #FFFFFF !default;
$palette-light: #E6E9EE !default;
$palette-dark:  #576265 !default;
$palette-black: #262F31 !default;

// Typography
$font-family: Lato, sans serif !default;
