
%nio-heading-shared {
  font: $font-heading;
  line-height: normal;
}

%nio-h1 {
  @extend %nio-heading-shared;
  font-size: $font-size-titanic;
}

%nio-h2 {
  @extend %nio-heading-shared;
  font-size: $font-size-gigantic;
}

%nio-h3 {
  @extend %nio-heading-shared;
  font-size: $font-size-huge;
}

%nio-h4 {
  @extend %nio-heading-shared;
  font-size: $font-size-big;
}

%nio-h5 {
  @extend %nio-heading-shared;
  font-size: $font-size-large;
}

%nio-h6 {
  @extend %nio-heading-shared;
  font-size: $font-size-medium;
}

@mixin nio-headings__global() {
    h1 { @extend %nio-h1; }
    h2 { @extend %nio-h2; }
    h3 { @extend %nio-h3; }
    h4 { @extend %nio-h4; }
    h5 { @extend %nio-h5; }
    h6 { @extend %nio-h6; }
}
