$font-family-sans: Lato, sans serif !default;
$font-family-mono: monospace !default;

$font-weight-sans: 400 !default;
$font-weight-heading: 300 !default;
$font-weight-mono: 400 !default;

$font-line-height: 1.5 !default;
$font-line-height-tight: (19/16) !default;
$font-line-height-loose: 2 !default;

$font-size-root: 12pt !default;

$font-ratio:         $per4 !default;
$font-size-micro:    1rem * ($font-ratio / $font-ratio / $font-ratio / $font-ratio / $font-ratio) !default;
$font-size-tiny:     1rem * ($font-ratio / $font-ratio / $font-ratio / $font-ratio) !default;
$font-size-small:    1rem * ($font-ratio / $font-ratio / $font-ratio) !default;
$font-size-medium:   1rem * ($font-ratio / $font-ratio) !default;
$font-size-large:    1rem * ($font-ratio) !default;
$font-size-huge:     1rem * ($font-ratio * $font-ratio * $font-ratio) !default;
$font-size-gigantic: 1rem * ($font-ratio * $font-ratio * $font-ratio * $font-ratio) !default;

$font-sans: normal $font-weight-sans #{$font-size-root} / #{$font-line-height} $font-family-sans !default;
$font-heading: normal $font-weight-heading #{$font-size-root} / #{$font-line-height} $font-family-sans !default;
$font-mono: normal $font-weight-mono #{$font-size-small} / #{$font-line-height-loose} $font-family-mono !default;
