$color-dark: #232020;
$color-mid:   #7f7e7e;
$color-light: #dfdede;
$color-faint: #f8f7f7;
$color-white: #fffefe;

//

$color-red: #CE202A;
$color-yellow: #FEDD31;
$color-nio: $color-red;

$color-default:   #746767;
$color-primary:   #286bb6;
$color-warning:   #f0ad4e;
$color-info:      #16a085;
$color-danger:    #CE202A;
