@import url(//fonts.googleapis.com/css?family=Open+Sans:200,400,500,600);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$font-line-height: 1.5;
$font-line-height-loose: (19/16);
$font-base: normal normal 12pt/1.5 'Open Sans', Helvetica, Arial, sans serif;

// sizes
$font-ratio: $per-4 * 1rem;

$font-size-tiny:     pow($font-ratio, -3);
$font-size-x-small:  pow($font-ratio, -2);
$font-size-small:    pow($font-ratio, -1);
$font-size-medium:   pow($font-ratio,  0);
$font-size-large:    pow($font-ratio,  1);
$font-size-x-large:  pow($font-ratio,  2);
$font-size-xx-large: pow($font-ratio,  3);
$font-size-huge:     pow($font-ratio,  4);
