// widths
$dist-hair:   1rem * (1/16);
$dist-thin:   1rem * (2/16);
$dist-small:  1rem * (4/16);
$dist-normal: 1rem * (8/16);
$dist-medium: 1rem * (12/16);
$dist-large:  1rem;
$dist-huge:   2rem;

$dist-margin: $font-line-height * 1rem;
