$icon: url('data:image/svg+xml;base64, PHN2ZyBpZD0iY2hlY2siIGNsYXNzPSJtYXJrIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0yNSAtMjUgNTAgNTAiIHdpZHRoPSI1MCI+CiAgPHBhdGggY2xhc3M9ImNoZWNrbWFya19fY2hlY2siIGZpbGw9Im5vbmUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iNnB4IiBkPSJNLTE1IDAgLTQgMTAgMTIgLTkiLz4KPC9zdmc+);


$checkbox-animation: unique-id();

@keyframes #{$checkbox-animation} {
  0% {
    border: 1px solid $palette-primary;
    background-color: rgba($palette-primary, 0.1);
  }
  30% {
    border: 1px solid $palette-primary;
    background-color: rgba($palette-primary, 0.1);
    box-shadow: 0px 0px 0px 5px rgba($palette-primary, 0.1);
  }
  50% {
    background-image: none;

    background-color: $palette-primary;
    box-shadow: (0px 0px 0px 2px white inset);
  }
  100% {
    background-image: $icon;
    background-size: 1em;
    background-color: $palette-primary;
    border: none;
  }
}

%nio-checkbox {
  display: inline-block;
}

%nio-checkbox__input {
  display: none;
}

%nio-checkbox__label {
  font-size: $font-size-small;
  color:$palette-black;
  &::before{
    display: inline-block;
    content: '';
    width: .75em;
    height: .75em;
    margin: 0 0.5em 0 0;
    border-radius: 50%;
    border: 1px solid gray;
    vertical-align:middle;
    cursor:pointer;
  }
  &:hover {
    color: $palette-primary;
    &::before{
      border: 1px solid $palette-primary;
    }
  }
  &--checked {
    &::before {
      animation: $checkbox-animation 500ms forwards;
    }
  }
}
