// Base
%nio-link {
  color: $palette-primary;
  text-decoration: none;
  margin-right: 1rem;
  cursor: pointer;

  &:hover {
    color: $palette-dark;
  }
}

// Variants
%nio-link--before {
  display:inline-block;
  &:before {
    content: attr(data-icon);
    margin-right: 0.25rem;
  }
}

%nio-link--after {
  display:inline-block;
  margin-right: 1.5rem;
  position:relative;
  &:after {
    content: attr(data-icon);
    margin-left: 0.25rem;
  }
}
