// Base
%nio-pagination {
  display:block;
}

%nio-pagination__icon {
  display: block;
}

%nio-pagination__icon--prev {
  display: block;
}

%nio-pagination__icon--next {
  display: block;
}

%nio-pagination__link {
  display: block;
}

%nio-pagination__link--active {
  display: block;
}
