%nio-toggle {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
}

%nio-toggle__input {
  display: none;
}

%nio-toggle__label {
  display: block;
  position: relative;
  font-size: $font-size-medium;
  margin: 1rem auto;
  white-space: nowrap;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3.6rem;
    height: 1.5rem;
    background-color: $palette-mid;
    border-radius: 20px;
    transition: background-color 300ms;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: $palette-white;
    box-shadow: 0 0 10px -3px $palette-mid;
    top: 2rem;
    left: 12%;
    width: 1.55rem;
    height: 1.55rem;
    border-radius: 50%;
    transition: all 300ms;
  }
}

%nio-toggle__label--primary {
  &::before {
    background-color: $palette-primary;
  }
}

%nio-toggle__label--affirmative {
  &::before {
    background-color: $palette-affirmative;
  }
}

%nio-toggle__label--alternate {
  &::before {
    background-color: $palette-alternate;
  }
}

%nio-toggle__label--warning {
  &::before {
    background-color: $palette-warning;
  }
}

%nio-toggle__label--danger {
  &::before {
    background-color: $palette-danger;
  }
}

%nio-toggle__label--checked {
  &::after {
    left: 87%;
    transform: translateX(-100%);
  }
}

%nio-toggle__label--disabled {
  color: $palette-light;
  cursor: not-allowed;
  &::before {
    background-color: $palette-light;
  }
  &::after {
    box-shadow: 0 0 0 1px $palette-light;
  }
}
