%nio-toggle {
  display: block;
  text-align: center;
  width: 5rem;
  height: 5rem;
}

%nio-toggle__input {
  display: none;
}

%nio-toggle__label {
  display: block;
  position: relative;
  font-size: $font-size-medium;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3.3rem;
    height: 1.5rem;
    background-color: $palette-light;
    border-radius: 20px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: $palette-white;
    box-shadow: 0 0 10px 1px $palette-light;
    top: 2rem;
    left: 51%;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    cursor: pointer;
    transition: translate 300ms;
  }
}

%nio-toggle__label--checked {
  @extend %nio-toggle__label;
  &::after {
    cursor: pointer;
    left: 49%;
    transform: translateX(-100%);
  }
}

%nio-toggle__label--disabled {
  display: block;

  // @extend %nio-toggle__label;
  // color: $palette-light;
  //
  // &:hover {
  //   &::before {
  //     box-shadow: 0 0 0 1px $palette-light;
  //   }
  // }
  //
  // &::before {
  //   box-shadow: 0 0 0 1px $palette-light;
  //   cursor: not-allowed;
  // }
  //
  // &::after {
  //   animation: none;
  //   background-color: transparent;
  //   cursor: not-allowed;
  // }
}

%nio-toggle__label--disabled-checked {
  display: block;

  // &::after {
  //   @include fill($icon-check);
  //   background-color: $palette-light;
  // }
}
